<section
  aria-labelledby="contact"
  class="w-full
  motion-preset-fade motion-duration-500 motion-delay-200"
>
  <h2
    class="mt-10 mb-8 inline-block text-2xl sm:text-4xl font-bold
    motion-preset-slide-up-sm motion-duration-500 motion-ease-spring-smooth"
  >
    Got some ideas? Let&apos;s talk.
  </h2>

  <form
    action="https://formspree.io/f/xnqlllez"
    method="POST"
    class="flex flex-wrap flex-col gap-8 justify-center items-center max-w-2xl mx-auto"
  >
    <input
      id="name"
      type="text"
      name="name"
      placeholder="Your Name"
      required
      class="rounded-full border max-w-lg border-gray-300 dark:border-gray-700 px-4 py-2 text-sm
        text-gray-800 dark:text-gray-200 bg-transparent
        transition duration-200 ease-in-out
        hover:bg-slate-100 dark:hover:bg-slate-900
        hover:scale-105 hover:border-slate-800 dark:hover:border-slate-400
        focus:outline-none focus:ring-2 focus:ring-slate-700
        motion-preset-slide-up-sm motion-duration-400 motion-delay-100 motion-ease-spring-smooth"
    />

    <input
      id="email"
      type="email"
      name="email"
      placeholder="Your Email"
      required
      class="rounded-full border max-w-lg border-gray-300 dark:border-gray-700 px-4 py-2 text-sm
        text-gray-800 dark:text-gray-200 bg-transparent
        transition duration-200 ease-in-out
        hover:bg-slate-100 dark:hover:bg-slate-900
        hover:scale-105 hover:border-slate-800 dark:hover:border-slate-400
        focus:outline-none focus:ring-2 focus:ring-slate-700
        motion-preset-slide-up-sm motion-duration-400 motion-delay-200 motion-ease-spring-smooth"
    />
    <textarea
      id="message"
      name="message"
      placeholder="Your Message"
      required
      rows="4"
      class="w-full rounded-2xl border border-gray-300 dark:border-gray-700 px-4 py-2 text-sm
        text-gray-800 dark:text-gray-200 bg-transparent resize-none
        transition duration-200 ease-in-out
        hover:bg-slate-100 dark:hover:bg-slate-900
        hover:scale-[1.01] hover:border-slate-800 dark:hover:border-slate-400
        focus:outline-none focus:ring-2 focus:ring-slate-700
        motion-preset-slide-up-sm motion-duration-400 motion-delay-300 motion-ease-spring-smooth"
    ></textarea>

    <button
      type="submit"
      class="rounded-full bg-slate-800 text-white px-6 py-2 text-sm font-semibold
        transition duration-200 ease-in-out
        hover:bg-slate-900 hover:scale-105
        focus:outline-none focus:ring-2 focus:ring-slate-900
        motion-preset-slide-up-sm motion-duration-400 motion-delay-400 motion-ease-spring-smooth"
    >
      Send
    </button>
  </form>
</section>
