---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Jack Jona</title>
    <meta
      name="description"
      content="A Front-End Web Developer, building web experiences that people enjoy using."
    />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="8bc1633d-7ef8-4f10-9e63-30509a0f9126"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
